body{
background-color: rgb(238, 238, 238);
}

.App {
  text-align: center;
  background-color: rgb(238, 238, 238);
  background-size: cover;
}

.inputs{
 display: flex;
 border: solid rgb(247, 243, 243);
 justify-content: center;
 align-items: center;
 box-shadow: 5px 5px 5px rgb(108, 109, 110);
 background-color: rgb(247, 243, 243);
}

.inputs button{
  border-color:  rgb(230, 230, 230);
  box-shadow: 5px 5px 5px rgb(108, 109, 110);
  border-radius: 50%;
  font-size: 25px;
  background-color: rgb(235, 235, 235);
  color: rgb(87, 85, 85);
}
.users{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 50px;
  
}

.user-card{
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(108, 109, 110);
  border-style: solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  height: 350px;
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-card li{
  display: flex;
}

.user-card ul{
  color: rgb(87, 85, 85);
}

.user-card button{
  font-size: 30px;
  color: rgb(87, 85, 85);
  margin-right: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border-style: solid azure;
  border: 0px;
}

.fa-trash{
  font-size: 25px;
}

.fa-pen-to-square{
  font-size: 25px;
}
